@inherits LayoutComponentBase

<div class="w-screen">
    

    <main>
        <article class="min-h-screen">
            @Body
        </article>
    </main>

    <div class="fixed bottom-6 w-full px-2.5 py-1.5">
        <BtmNavMenu/>
    </div>
</div>
