@inherits LayoutComponentBase

<div class="min-h-screen w-screen bg-gray-100">
    

    <main>
        <article class="p-2.5">
            @Body
        </article>
    </main>

    <div class="fixed bottom-8 grid w-full px-2.5 py-1.5">
        <BtmNavMenu />
    </div>
</div>
